<div class="row">
  <div class="col-md-8">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="pill" href="#lastest">Lastest</a></li>
      <li><a data-toggle="pill" href="#hotest">Hotest</a></li>
      <li><a data-toggle="pill" href="#likes">Likes</a></li>
    </ul>

    <div class="tab-content">
      <div id="lastest" class="tab-pane fade in active">
        <% @lastest.each do |story| %>
          <%= render partial: "stories/story", locals: {story: story} %>
        <% end %>
      </div>
      <div id="hotest" class="tab-pane fade">
        <% @hostest.each do |story| %>
          <%= render partial: "stories/story", locals: {story: story} %>
        <% end %>
      </div>
      <div id="likes" class="tab-pane fade">
        <%# @likes.each do |story| %>
          <%# render "stories/story", locals: {story: story} %>
        <%# end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <%= render "shared/followables/info" %>
  </div>
</div>
