<style>
  #hover-content {
    display: none;
  }

  #parent:hover #hover-content {
    display: inline;
  }

</style>


<div class="container home-page">
  <div class="row ">
    <div class="col-md-8 col-sm-12 ">
      <% @feeds.each do |story| %>
          <%= render partial: 'stories/story', locals: {story: story} %>
      <% end %>
    </div>

    <div class="col-md-4 right-area">
      <h2 class="text-center">場所</h2>
      <div class="row">
        <div class="col-sm-4 place-item">
          <div class="make-color-wrapper place-img" style="background-image: url(http://lorempixel.com/640/480/city);">
            <p class="place-name">New York</p>
          </div>
        </div>
        <div class="col-sm-4 place-item">
          <div class="make-color-wrapper place-img" style="background-image: url(http://lorempixel.com/640/480/city);">
            <p class="place-name">京都</p>
          </div>
        </div>
        <div class="col-sm-4 place-item">
          <div class="make-color-wrapper place-img" style="background-image: url(http://lorempixel.com/640/480/city);">
            <p class="place-name">京都</p>
          </div>
        </div>
        <div class="col-sm-4 place-item">
          <div class="make-color-wrapper  place-img" style="background-image: url(http://lorempixel.com/640/480/city);">
            <p class="place-name">京都</p>
          </div>
        </div>
        <div class="col-sm-4 place-item">
          <div class="make-color-wrapper  place-img" style="background-image: url(http://lorempixel.com/640/480/city);">
            <p class="place-name">京都</p>
          </div>
        </div>
        <div class="col-sm-4 place-item">
          <div class="make-color-wrapper  place-img" style="background-image: url(http://lorempixel.com/640/480/city);">
            <p class="place-name">京都</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
