<div class="container home-page">
  <div class="row ">
    <div class="col-md-8 col-sm-12 ">
      <% @feeds.each do |story| %>
          <%= render partial: 'stories/story', locals: {story: story} %>
      <% end %>
    </div>

    <div class="col-md-4 right-area">
      <h2 class="text-center">トップ場所</h2>
      <div class="row">
        <% Place.top(6).each do |place| %>
          <% if place.present? && place.valid? %>
            <%= render partial: "places/place_thumbnail", locals: {place: place} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
