<div class="container">
  <div class="col-md-6 text-left">
    <h1><span class="welcome-tripbook">Tripbook </span>へようこそ。</h1>
    <h2>どこへ？<span class="welcome-tripbook">Tripbook</span>で<br>次の旅行を始める。</h2>
  </div>
  <div class="col-md-6 text-left">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/53/7a/a6/537aa662fa3539dc09e8412201fe9df9.jpg" alt="picture here">
  </div>
</div>