<div class="container full-height">
  <h1>New Story</h1>
  <%= form_for @story do |f| %>
    <%= f.text_field :title, placeholder: t(".title") %>
    <input type="text" name="place[name]">
    <%= f.file_field :featured %>
    <%= f.submit %>
  <% end %>
</div>
