<% @target = @user || @place %>

<table class="stats-table">
  <tr>
    <td>
      Stories
    </td>
    <td>
      Followers
    </td>
    <% if @target.is_user? %>
        <td>
          Following
        </td>
    <% end %>
  </tr>
  <tr>
    <td class="stories-count">
      <strong><%= @target.stories.count %></strong>
    </td>
    <td class="followers-count">
      <strong><%= @target.followers.count %></strong>
    </td>
    <% if @target.is_user? %>
        <td class="following-count">
          <strong><%= @target.following_count %></strong>
        </td>
    <% end %>
  </tr>
</table>
<%= render "shared/followables/follow_form" %>
