@import "bootstrap-sprockets";
@import "bootstrap";

form {
  margin: auto auto;
}

.form-signin {
  max-width: 400px;
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
	box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.main{
	padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
	font-size:20px;
	font-weight:bold;
	padding:38px 38px 0px 38px;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;

}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding:20px;
}
.login-footer .left-section a{
	font-weight:bold;
	color:#8a8a8a;
	line-height:19px;
}
.mg-btm{
	margin-bottom:20px;
}

// navbar css
nav.navbar {
  background: #333;
  border-color: #333;
  border-radius: 0;
  padding: 0 30px;
}
nav .navbar-header .icon-bar {

}
nav .navbar-form {
  width: calc(100% - 85px - 281px - 236px - 50px);
}
nav .navbar-form > div.input-group {
  width: 100%;
}
nav .sign-in-btn {
  line-height: 0 !important;
  margin-top: 12px;
  margin-right: 12px;
  color: #fff !important;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 11px 15px !important;
}
nav .sign-in-btn:hover {
  border-color: #e5e5e5;
}
nav .sign-up-btn {
  line-height: 0 !important;
  margin-top: 12px;
  color: #fff !important;
  border-radius: 3px;
  background-color: #f50;
  border-color: #f50;
  padding: 11px 15px !important;
}
nav .sign-up-btn:hover {
  background-color: #f50 !important;
}
@media screen and (max-width: 767px) {
  nav .navbar-form {
    width: auto;
  }
  nav .sign-in-btn, nav .sign-up-btn {
    margin: 5px 15px;
    line-height: 1px !important;
  }
}
.welcome-tripbook {
  color: #f50;
}