<div class="col-sm-<%= col_width || 6 %> place-item">
  <div class="make-color-wrapper place-img" style="background-image: url(<%= place.thumbnail %>);">
    <a class="place-name small-headline" style="color: #fff; font-size: 14px; text-shadow: 1px 1px 4px black;" href="<%= place_path(place) %>"><%= place.name %></a>
  </div>
</div>
