<div class="col-sm-4 place-item">
  <div class="make-color-wrapper place-img" style="background-image: url(<%= place.thumbnail %>);">
    <a class="place-name" style="color: #fff; font-size: 12px;" href="<%= place_path(place) %>"><%= place.name %></a>
  </div>
</div>
